{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/equipmentselect/header.png",
      "fileBody" : "/interface/scripted/equipmentselect/body.png",
      "fileFooter" : "/interface/scripted/equipmentselect/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " Equipment Terminal",
      "subtitle" : " Select class",
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/equipmentselect/weaponupgradeicon.png"
      }
    },

    "itemScrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 99, 174, 215],
      "children" : {
        "itemList" : {
          "type" : "list",
          "callback" : "itemSelected",
          "schema" : {
            "selectedBG" : "/interface/scripted/equipmentselect/listitemselected.png",
            "unselectedBG" : "/interface/scripted/equipmentselect/listitem.png",
            "spacing" : [0, 1],
            "memberSize" : [156, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/listitem.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "unavailableoverlay" : {
                "type" : "image",
                "file" : "/interface/scripted/equipmentselect/unavailableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },

    "essenceCostDescription" : {
      "type" : "label",
      "position" : [93, 65],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "Selected class"
    },
    "essenceCost" : {
      "type" : "label",
      "position" : [93, 56],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "--"
    },

    "btnConfirm" : {
      "type" : "button",
      "position" : [92, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "caption" : "Confirm",
      "callback" : "confirm"
    },
    "cancel" : {
      "type" : "button",
      "position" : [33, 30],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel",
      "callback" : "close"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [161, 242]
    },

    "emptyLabel" : {
      "type" : "label",
      "position" : [86, 150],
      "hAnchor" : "mid",
      "value" : "No available equipment",
      "wrapWidth" : 125,
      "color" : [185, 181, 178]
    }
  },

  "scriptWidgetCallbacks" : [
    "itemSelected",
    "confirm"
  ],

  "scripts" : ["/interface/scripted/equipmentselect/equipmentselect.lua"],
  "scriptDelta" : 30,

  "upgradeLevel" : 6
}
