{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 40,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "approach" : [2, 2],
                "position" : [0, 0],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "color" : [200,200,200,60],
                "timeToLive" : 2,
                "destructionTime" : 2,
                "destructionAction" : "shrink",
                "size" : 2,
                "variance" : {
                  "position" : [1, 1],
                  "initialVelocity" : [7, 7],
                  "rotation" : 180,
                  "size" : 1
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    }

  ]
}
