{
  "action" : "actions",
  "list" : [
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 1,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "ember",
			"position" : [0, 0],
			"initialVelocity" : [0, 10],
			"finalVelocity" : [0, -150],
			"approach" : [0, 45],
			"color" : [120, 75, 20, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.6,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 1.4,
			"layer" : "back",
			"variance" : {
			  "position" : [0.7, 0.7],
			  "size" : 0.5,
			  "initialVelocity" : [5, 5],
			  "color" : [255, 255, 255, 255]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 1,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "ember",
			"position" : [0, 0],
			"initialVelocity" : [0, 10],
			"finalVelocity" : [0, -150],
			"approach" : [0, 45],
			"color" : [120, 75, 20, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.6,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 1.4,
			"layer" : "back",
			"variance" : {
			  "position" : [0.7, 0.7],
			  "size" : 0.5,
			  "initialVelocity" : [-5, 5],
			  "color" : [255, 255, 255, 255]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 1,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "ember",
			"position" : [0, 0],
			"initialVelocity" : [0, 10],
			"finalVelocity" : [0, -150],
			"approach" : [0, 45],
			"color" : [120, 75, 20, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.6,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 1.4,
			"layer" : "back",
			"variance" : {
			  "position" : [0.7, 0.7],
			  "size" : 0.5,
			  "initialVelocity" : [-5, -5],
			  "color" : [255, 255, 255, 255]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 1,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "ember",
			"position" : [0, 0],
			"initialVelocity" : [0, 10],
			"finalVelocity" : [0, -150],
			"approach" : [0, 45],
			"color" : [120, 75, 20, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.6,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 1.4,
			"layer" : "back",
			"variance" : {
			  "position" : [0.7, 0.7],
			  "size" : 0.5,
			  "initialVelocity" : [5, -5],
			  "color" : [255, 255, 255, 255]
			}
		  }
        }
      ]
    }
  ]
}